*,
*::before,
*::after {
	box-sizing: border-box;
}
body, html {
	min-height: 100%;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	line-height: 1.5;
	color: #242424;

}

.btn-modal {
	border: 0;
	font-size: inherit;
	background-color: #4299cf;
	color: white;
	padding: 0.25rem 1rem;
	border-radius: 5px;
}

/* Modal */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
	/*
		display: grid;
		place-items: center;
	*/
}

.modal-overlay.show {
	display: flex;
}

.modal {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	max-width: 60rem;
	width: 80%;
	min-width: 40rem;
	border-radius: 4px;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.15)
}

.modal-header {
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #EDEDED;
}

.modal-heading {
	margin: 0;
	padding: 0;
}

.modal-body {
	padding: 1rem;
}

.modal-btn-close {
	line-height: 1;
	font-size: 2em;
	color: red;
	border: 0;
	background-color: transparent;

}